include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include */media *
recursive-include */boilerplates *
recursive-include */templates *
recursive-include */static *
recursive-include */locale *

